
.vscode/tasks.json
lista01/ex6
lista01/a.out
lista01/ex9
.vscode/settings.json
lista01/run
lista02/test
lista01/ex11.cpp
lista01/ex11.cpp
lista01/ex10.cpp
lista01/ex11.cpp
lista02/run
lista02/arquivo.txt
lista02/teste
